.navbar {
  width: 100%;
  display: flex;
  justify-content:  center ;
  align-items:  center ;
  font-family: "Raleway", sans-serif;
  transition: background 0.3s ease, box-shadow 0.3s ease, padding 0.3s ease;

  &__container {
  width: 100%;
  max-width: 90rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 1.5rem 3rem 1.25rem;
  gap: 5.25rem;
  }

  &__logo {
    display: flex;
    align-items: center;

    &-svg {
      width: 5rem;
      height: 1.5rem;
      cursor: pointer;
    }
  }

  &__links {
    display: flex;
    gap: 1.53rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__link {
    color: var(--white);
    text-decoration: none;
    font-size: 0.75rem;
    font-weight: 400;
    white-space: nowrap;
    transition: color 0.2s;
    position: relative;

    &:hover,
    &:focus {
      font-weight: bold;
      text-decoration: underline;
      transition: all 0.2s ease;
    }
  }
}
